#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  background-color: rgba(108, 4, 21, 255);
}

@media screen and (max-width: 580px) {
  #root {
    padding: 20px;
  }
}
